body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.mainWrapper {
    display: flex;
    background-color: bisque;
    margin: 0px;
}

.formWrapper {
    background-color: rgb(177, 177, 208);
    margin: 5px;
    padding: 5px;
    width: 650px;
}

.previewWrapper {
    background-color: rgb(177, 205, 208);
    margin: 5px;
    padding: 5px;
    width: 650px;
}

.infoCard {
    background-color: yellow;
}

input {
    font-family: "Poppins", sans-serif;
    align-items: center;
    background-color: #ffffff;
    border-radius: 14px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    min-width: 635px;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    width: auto;
    margin: 5px;
}

.btnAdd, .btnReset {
    font-family: "Poppins", sans-serif;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #f0f0f0;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    min-width: 635px;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    width: auto;
    margin: 5px;
}

p {
    margin: 5px;
    margin-left: 27px;
    color: #3c4043;
}

h3 {
    margin: 10px;
}

.btnAdd {
    background-color: green;
}

.btnReset {
    background-color: red;
}